form{
    width: 50%;
    margin-top: 2vw;
    margin-left: auto;
    margin-right: auto;
    h1,p{
        text-align: center;
    }
}

.error{
    color: #c62828;
    font-weight: 600;
    display: block;
    margin-top: 4px;
}

.success{
    color: #2e7d32;
    font-weight: 600;
    display: block;
    margin-top: 4px;
}
